*{
    font-family: sans-serif;
}

body{
    background-color: #111;
}

.logo-container{
    margin-left: 20px;
}
.header-logo{
    width: 10%;
    padding: 0;
    margin: 0;
}

form{
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    color: #333;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 30px;
    >*{
        display: block;
    }
}

h3, i, a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

button{
    width: 100%;
    background-color: #111;
    color: whitesmoke;
    padding: .8rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: background-color .4s ease-in-out;
}

label{
    text-align: left;
    margin-top: .5rem;
    font-size: 1rem;
}

.input-form {
    display: flex;
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    transition: 0.1s ease-in-out;
}

input{
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.input-form:focus {
    outline: none;
    border: none;
}

.input-form:focus-within {
    border: 1.5px solid #2d79f3;
}


a{
    color: rgb(110, 112, 241);
    font-size: .9rem;
    padding: 1rem;
}

p{
    font-size:1rem;
}

i{
    font-size: 30px;
}

.btn:hover {
    background-color: #652828;
}

.form-container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    color: white;
    text-align: center;
    padding: .5rem;
}

.copyright{
    font-size: 1.1rem;
}